@model Beerka.Web.Models.ShoppingCartItemViewModel
@using Beerka.Persistence;

@{
    ViewData["Title"] = "Customize Shopping Cart Content";
}

<div class="text-center">
    <h1>Customize Shopping Cart Content</h1>
</div>

<table>
    <tbody>
        <tr>
            <td style="min-width:20%;padding:10px">
                <b>Name: </b>
            </td>
            <td>
                @Model.Product.Name
            </td>
        </tr>
        <tr>
            <td style="min-width:20%;padding:10px">
                <b>Model Number: </b>
            </td>
            <td>
                @Model.Product.ModelNumber
            </td>
        </tr>
        <tr>
            <td style="min-width:20%;padding:10px">
                <b>Manufacturer: </b>
            </td>
            <td>
                @Model.Product.Manufacturer
            </td>
        </tr>
        <tr>
            <td style="min-width:20%;padding:10px">
                <b>Description: </b>
            </td>
            <td>
                @Model.Product.Description
            </td>
        </tr>
        <tr>
            <td style="min-width:20%;padding:10px">
                <b>Available Packagings: </b>
            </td>
            <td>
                @{
                    string packagingStr = Product.Packaging.Unit.DisplayName;
                    var pt = Model.Product.PackagingType;
                    if (pt.DbValue != Product.Packaging.Unit.DbValue)
                    {
                        packagingStr += ", " + pt.DisplayName;
                    }
                    Write(packagingStr);
                }
            </td>
        </tr>
        <tr>
            <td style="min-width:20%;padding:10px">
                <b>Stock Remaining: </b>
            </td>
            <td>
                @Model.Product.Stock
            </td>
        </tr>
        <tr>
            <td style="min-width:20%;padding:10px">
                <b>Price (Net): </b>
            </td>
            <td>
                @Model.Product.PriceNet Ft
            </td>
        </tr>
        <tr>
            <td style="min-width:20%;padding:10px">
                <b>Price (Gross): </b>
            </td>
            <td>
                @{
                    Write(Math.Round(Model.Product.PriceNet * 1.27, 0).ToString() + " Ft");
                }
            </td>
        </tr>
    </tbody>
</table>

<form asp-controller="ShoppingCart" asp-action="AddItem" asp-route-id="@Model.Product.ID">
    <div asp-validation-summary="ModelOnly" class="failureNotification"></div>
    <table>
        <tbody>
            <tr>
                <td style="min-width:20%;padding:10px;">
                    <b>Packaging: </b>
                </td>
                <td>
                    <table align="left" style="padding:10px">
                        <tbody>
                            <tr>
                                <td class="failureNotification">
                                    <input type="radio" asp-for="PackagingTypeID" value="@Array.IndexOf(Product.Packaging.PackagingTypes, Product.Packaging.Unit)" />
                                    <label asp-for="PackagingTypeID">@Product.Packaging.Unit.DisplayName</label>
                                </td>
                            </tr>
                            @if (Model.Product.PackagingType.DbValue != Product.Packaging.Unit.DbValue)
                            {
                                <tr class="failureNotification">
                                    <td>
                                        <input type="radio" asp-for="PackagingTypeID" value="@Array.IndexOf(Product.Packaging.PackagingTypes,Model.Product.PackagingType)" }">
                                        <label asp-for="PackagingTypeID">@Model.Product.PackagingType.DisplayName (@Model.Product.PackagingType.UnitCount @Product.Packaging.Unit.DisplayNamePlural)</label>
                                    </td>
                                </tr>
                            }
                            <tr style="min-height:0%;min-width:0%">
                                <td style="min-width:0%;min-height:0%">
                                    <span asp-validation-for="PackagingTypeID"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
            <tr>
                <td style="min-width:20%;padding:10px">
                    <b>Amount: </b>
                </td>
                <td class="failureNotification">
                    <input asp-for="Amount" min="0" />
                    <span asp-validation-for="Amount"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit" class="button" />
                </td>
            </tr>
        </tbody>
    </table>

</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}