@model Beerka.Web.Models.ShoppingCart
@using Beerka.Persistence;

@{
    ViewData["Title"] = "Shopping Cart";
}

<div class="text-left">
    <h1>Shopping Cart</h1>
</div>

<hr />

<div class="text-left">
    <h2>Items</h2>
</div>
@if (Model.Items.Count <= 0)
{
    <div>
        Your shopping cart is empty.
    </div>
}
else
{
    <table class="table" border="1" width="100%">
        <thead>
            <tr>
                <th>
                    <b>Product</b>
                </th>
                <th style="text-align:right">
                    <b>Amount</b>
                </th>
                <th style="text-align:right">
                    <b>Price (Net)</b>
                </th>
                <th style="text-align:right">
                    <b>Price (Gross)</b>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.Product.Name
                    </td>
                    <td style="text-align:right">
                        @{
                            Write(item.PackAmount.ToString() + " " + item.PackagingType.DisplayNamePlural);
                            if (item.PackagingType.DbValue != Product.Packaging.Unit.DbValue)
                            {
                                Write(Environment.NewLine + "(" + item.Amount.ToString() + " " + Product.Packaging.Unit.DisplayNamePlural + ")");
                            }
                        }
                    </td>
                    <td style="text-align:right">
                        @item.PriceNet Ft
                    </td>
                    <td style="text-align:right">
                        @item.PriceGross Ft
                    </td>
                    <td>
                        <div>
                            @Html.ActionLink("Edit", "AddItem", "ShoppingCart", new { id = item.Product.ID })
                        </div>
                        <div>
                            @Html.ActionLink("Delete", "DeleteItem", "ShoppingCart", new { id = item.Product.ID })
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table" border="1" align="center">
        <tbody>
            <tr>
                <td style="text-align:center">
                    <b>@Html.ActionLink("Empty Cart", "Empty")</b>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table" border="0" width="100%">
        <tbody>
            <tr>
                <td width="50%" style="text-align:left">
                    <b>Net total:</b>
                </td>
                <td width="50%" style="text-align:right">
                    @Model.PriceNet Ft
                </td>
            </tr>
            <tr>
                <td width="50%" style="text-align:left">
                    <b>Grand total:</b>
                </td>
                <td width="50%" style="text-align:right">
                    @Model.PriceGross Ft
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table" border="1" align="center">
        <tbody>
            <tr>
                <td style="text-align:center">
                    <b>@Html.ActionLink("Finalize Order", "Finalize")</b>
                </td>
            </tr>
        </tbody>
    </table>
}